.to-course-link-div.standby{
    cursor: pointer;
    font-size: 13px;
    text-align: end;
    color: #0041b9;
    text-decoration: underline;
}
.to-course-link-div.standby:hover{
    color: #002580;
}

div#page div#page-content div.pb-2[data-region="event-list-wrapper"] div.timeline-event-list-item div.timeline-name{
    width : 100%;
}