#memo-icon {
    /* ポジショニング */
    position: sticky;
    top: 200px;
    z-index: 2;

    /* ボックスモデル (大きさ・余白) */
    box-sizing: border-box;
    /* サイズ計算の基準を明確に */
    width: 50px;
    height: 50px;
    margin-top: -50px;
    margin-left: auto;
    margin-right: 10px;

    /* ボーダー */
    border-top: #999 2px solid;
    border-left: #999 2px solid;
    border-bottom: #999 2px solid;
    border-radius: 20px 0 0 20px;

    /* 背景 */
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 30px auto;

    /* その他の視覚効果 */
    transition: 0.25s;
}

#memo-icon:hover {
    border-top: #ccc 2px solid;
    border-left: #ccc 2px solid;
    border-bottom: #ccc 2px solid;
}

#course-memo-separator {
    display: none; /* 初期状態は非表示 */
    width: 5px; /* ドラッグする仕切りの幅 */
    cursor: col-resize; /* カーソルをリサイズ用に変更 */
    background-color: #aaa;
    flex-shrink: 0; /* 縮まないようにする */
}