.customiseTimetable .class_time {
    font-size: 14px;
}

.customiseTimetable {
    table-layout: fixed;
    border-collapse: collapse; /* セルの境界線を単一にする */
    font-size: 19px;
    width: 90%;
    margin: 10px 5%;
}

.customiseTimetable th,
.customiseTimetable td {
    /*border*/
    border: 1px solid rgb(88, 88, 88);
    padding: 0 10px;

    text-align: center;
    vertical-align: middle;
}

.customiseTimetable th {
    width: 110px;
    white-space: nowrap;
}

.customiseTimetable td {
    /* テキストがセルからはみ出るときに改行 */
    word-wrap: break-word;
}

.customiseTimetable span.courseLink {
    font-size: 13px;
    font-weight: bold;
    /* 複数行の省略設定 */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 表示する行数を2行に指定 */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.customiseTimetable span.noCourseEditLink {
    font-size: 13px;
    color: rgba(100, 100, 100, 0.521);
    text-decoration: underline;
}

input.checkboxTimeschedule {
    display: inline-block;
    transform: scale(1.5);
    accent-color: rgb(13, 255, 25);
    width: 20px;
    height: 20px;
}

#currentCourseDisplay{
    text-align: center;
    border: #000c9f solid 2px;
    border-radius: 10px;
    padding: 5px;
    transition: 2s;
}


#div_TT .timetableEditButtonDiv{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

#div_TT .timetableEditButtonDiv button{
    margin: 0 13px;
    border-radius: 30px;
    padding: 5px 20px;
}

#div_TT .timetableEditButtonDiv .timetable-edit-button--reset{
    border: 2px solid #434343;
    background-color: #d5443d;
    color: #FFF;
}

#div_TT .timetableEditButtonDiv .timetable-edit-button--edit{
    background-color: #5cb92d;
    color: white;
}

/* popup用 ------------------------------------------------ */
#extension-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: none;
}

#extension-edit-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10001;
    display: none;
    min-width: 300px;
    max-width: 500px;
    box-sizing: border-box;
}

#extension-edit-popup .course-list {
    margin-top: 15px;
    margin-bottom: 15px;
}



/* ---------------------------------------------------------- */