#div_TT .class_time{
    font-size: 14px;
}

#div_TT table {
    width: 90%;
    margin: 10px 5%;
}

/*border*/
#div_TT table th, td {
    border: 1px solid black;
}
#div_TT table {
    text-align: center;
    vertical-align: middle; /* 垂直方向の中央揃え */
}
#div_TT th, td{
    padding:0 10px;
}

#div_TT th{
    width: 0;
    white-space:nowrap;
}

#div_tt td {
    word-wrap: break-word; /* テキストがセルからはみ出るときに改行 */
}


/* popup用 ------------------------------------------------ */
#extension-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: none;
}

#extension-edit-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10001;
    display: none;
    min-width: 300px;
    max-width: 500px;
    box-sizing: border-box;
}

#extension-edit-popup .course-list {
    margin-top: 15px;
    margin-bottom: 15px;
}



/* ---------------------------------------------------------- */