div.pb-2[data-region='event-list-wrapper'] {
    div.timeLimitDivCustomise {
        margin: 0 -4px 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        div.timeLimit_extention {
            white-space: nowrap;
            overflow: auto;
        }
    }
}